<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="strConn" connectionString="Server=LOCALHOST\SQLXE2012;Database=Knauf_Generatore;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ServerMail" value="mail.mesys.it"/>
        <add key="Mail_Login" value="m.sani.mesys@mesys.it"/>
        <add key="Mail_Psw" value="vt600chonda"/>
        <add key="ServerPort" value="465"/>
        <add key="ServerSSL" value="N"/>

        <add key="Repository" value="http://localhost/Repository/Knauff"/>
        <add key="FileRepository" value="C:\\Dati\\Repository\\Knauff\\"/>
        <add key="Web_Site" value="http://localhost:1982"/>

        <add key="Language_SQL" value="it-IT"/>
        <add key="InvioMail" value="N"/>
        <add key="CatchError" value="S"/>
        <add key="LogError" value="S"/>

        <add key="Nome_Azienda" value="Knauff"/>

    </appSettings>

    <location path="Index.aspx">
        <system.web>
            <httpRuntime requestValidationMode="2.0" />
        </system.web>
    </location>

    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="true"/>
        <compilation debug="true" targetFramework="4.0"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
</configuration>