.Untitled-3{ background:url("Untitled-3.png") top left no-repeat; }
.condizioni-orografiche-a{ width:132px; height:132px; background-position:-10px -10px; }
.condizioni-orografiche-b{ width:132px; height:132px; background-position:-10px -152px; }
.condizioni-orografiche-c{ width:132px; height:132px; background-position:-10px -294px; }
.condizioni-orografiche-d{ width:132px; height:132px; background-position:-10px -436px; }

